<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    
    <body>
        <div class="nav">
        <ul>
            <li><a href="/contacts">Contacts</a></li>
            <li><a href="/birthdays">Birthdays</a></li>
            <li><a href="/namedays">Namedays</a></li>                    
        </ul>
        </div>
        {% block content %}{% endblock%}
    </body>
</html>


