<!DOCTYPE html5>
<html>
<form method="POST" action="/contacts/update_contact/{{row.id}}">
  First name:<br>
  <input type="text" name="FIRST_NAME" value="{{row.first_name}}"><br>
  Middle name:<br>
  <input type="text" name="MIDDLE_NAME" value="{{row.midlle_name |default('', True)}}"><br>
  Last name:<br>
  <input type="text" name="LAST_NAME" value="{{row.last_name}}">
  Birthday:<br>
  <input type="date" name="BIRTHDAY" value="{{row.birthday}}">
  <input type="submit" value="Submit">
  <input type="reset">
</form>
</html>
