{% extends "base.html" %}
{% block title %} Namedays{% endblock %}
{% block content %} 
<h2> Today is {{current_date}} </h2> 


{% if namedays_today|length > 0 %}
    <h3 align="left"> Today is Saint {{today_saint}} day </h3>
    <h4 align="left"> You have {{ namedays_today|length }} namedays today: </h4>
    <table class="leftGreyGridTable">
    <thead>
    <tr> 
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
    </tr>
    </thead>

    {% for item in namedays_today %}
    <tr>
        <td>{{item.first_name}}</td>
        <td>{{item.middle_name | default('', True)}}</td>
        <td>{{item.last_name}}</td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <h3 align="left"> There is no saint day today. </h3>    
    <h4 align="left"> You have no nameday today. </h4>
{% endif %}

{% if saints_next_month|length > 0%}
<h3 align="left"> Next month Saints are:</h3>
    <ul>
    {% for saint in saints_next_month %}
    <li> {{saint.holiday_name}} is on {{saint.month}}-{{saint.day}} </li>
    {% endfor %}
    </ul>
{% else %}   
    <h3 align="left"> There are no saints days next month. </h3>    
{% endif %} 

{% if namedays_next_month|length > 0 %}
    <h4 align="left"> You have {{namedays_next_month|length }} namedays next month: </h4>
    <table class="leftGreyGridTable">
    <thead>
    <tr> 
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    
    {% for item in namedays_next_month %}
    <tr>
        <td>{{item.first_name}}</td>
        <td>{{item.middle_name | default('', True)}}</td>
        <td>{{item.last_name}}</td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <h4 align="left"> You have no nameday next month. </h4>
{% endif %}

{% endblock %}
